$black: #000000;
$white: #ffffff;
$red: #FF0000;
$green: #008000;
$yellow: #FFFF00;
$pink: #FFC0CB;
$blue: #0000FF;
$purple: #CC8899;
$brown: #A52A2A;
$grey: #e7e7e7;

$primary_color: #D50A27;
$secondary_color: #000;

// Social Icons Color
$facebook: #284386;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #bd0d21;
$instagram: #e1376f;


// Rating Star Color
$rating_color: #FF8D07;