@import "../base/variable.scss";
@import "../base/mixins.scss";

.container {
    overflow: hidden;
    padding: 10px 0;
    .custome-conatiner {
        width: 100%;
        padding: 0 15px;
        position: relative;
        .row_set {
            .device_table {
                margin: 0 auto;
                text-align: center;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                table {
                    width: 100%;

                    tr {
                        border: 1px solid #d7d5d5 !important;
                        text-align: start;
                    }
                    td {
                        padding: 10px 0;
                        font-weight: 400;
                    }

                    td {
                        padding: 10px 10px;
                        font-size: 14px;
                        white-space: nowrap;
                        .available {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: "";
                                background-color: green;
                                width: 12px;
                                height: 12px;
                                left: -17px;
                                top: 5px;
                                border-radius: 50%;
                            }
                        }
                    }
                    .heading {
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .header {
                        font-size: 18px;
                        font-weight: 400;
                        a {
                            color: #000000b8;
                        }
                        
                        a:hover {
                            cursor: pointer;
                        }
                    }
                    tbody {
                        tr {
                            transition: 0.2 ease;
                            background-color: #fff;
                            &:hover {
                                background-color: #d7d5d5;
                                transition: 0.2 ease;
                            }
                            td {
                                &:first-child {
                                    width: 5%;
                                }
                                &:nth-child(2) {
                                    width: 12%;
                                }
                                &:nth-child(3) {
                                    width: 12%;
                                }
                                &:nth-child(4) {
                                    width: 45%;
                                }
                                &:nth-child(5) {
                                    width: 10%;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                    .form-group {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

.alert_popup {
    width: 620px;
    margin: 0 auto;
    text-align: center;
    border: none;
    padding: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    box-shadow: -2px -1px 9px 8px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: -2px -1px 9px 8px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: -2px -1px 9px 8px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    background-color: $white;
    .device_name {
        padding-bottom: 15px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .flow_set {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 375px;
    }
    .cross {
        position: absolute;
        right: -7px;
        top: -9px;
        a {
            color: $black;
            display: block;
            i {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border: 1px solid $black;
                background-color: $white;
            }
        }
    }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .sheet {
        .custome-conatiner {
            .row_set {
                .device_table {
                    table {
                        td {
                            padding: 10px 25px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        .custome-conatiner {
            .row_set {
                .device_table {
                    table {
                        td {
                            padding: 10px 25px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .container {
        .custome-conatiner {
            .row_set {
                .device_table {
                    table {
                        td {
                            padding: 10px 25px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .container {
        .custome-conatiner {
            .row_set {
                .device_table {
                    table {
                        td {
                            padding: 10px 25px;
                        }
                    }
                }
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
